*{
  margin: 0%;
  padding: 0%;
}

header {
  background-color: rgb(50, 50, 35);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}


main {
  display: flex;
  height: calc(100vh - 74px);
  align-items: center;
  background-image: url("./../images/coofee.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative; /* Needed for the pseudo-element */
  padding: 30px;
}

header h1 {
  margin: 0;
  font-size: larg;
}
a:hover {
  color: #b99272; 
}

header button {
background-color: #996515;
  color: #f5f5f5;
  padding: 5px 25px;
  border-radius: 15px;
  box-shadow: navajowhite;
  text-decoration: none;
}
header button:hover {
  color: #f5f5f5; 
  background-color: #006600;
  border-radius: 15px;
  transform: scale(1.1);
}

nav {
  display: flex;
  gap: 30px;
  font-size: large;
}


a {
  color: rgb(255, 255, 255);
  text-decoration: none; 
}



.navbar a {
  color: #f5f5f5;
  padding: 5px 25px;

}

.navbar a:hover {
 color: white; 
 background-color: #8B4513;
 border-radius: 15px;
}